/* Font Boldness:
100 Thin
200 Extra Light
300 Light
400 Normal
500 Medium
600 Semi Bold
700 Bold
800 Extra Bold
900 Ultra Bold */

.smallMenu {
  display: none;
}

.navbarLogo {
  position: relative;
  left: 7%;
}

img.abode-logo {
  position: relative;
  width: 55px;
  height: auto;
}

.abodeHome {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  position: relative;
  left: 20px;
  text-decoration: none;
  color: black;
  border-bottom: 0px;
}

.navButtons {
  border: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 800;
  height: 45px;
  border-radius: 10px;
}

.buttonGrey {
  background-color: #f0f0f0;
  color: #0c4b78;
  width: 108px;
  position: relative;
}

.buttonBlue {
  background-color: white;
  color: green;
  border: 2px;
  /* border-color: red; */
  width: 108px;
  position: relative;
}

.headerMenu {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  position: relative;
}

.adjustMenuBurger {
  left: 22%;
  position: relative;
}

.headerfont {
  color: #ffffff;
}

.menuBurger {
  color: #ffffff;
}

.navbarContainer {
  height: 80px;
  overflow-x: hidden;
  border-bottom: #86f394;

  background-image: linear-gradient(
    to right,
    white,
    white,
    white,
    #e5fee5,
    #ccfdcc
  );
}

#footer {
  height: 80px;
  background-image: linear-gradient(
    to left,
    white,
    white,
    white,
    #e5fee5,
    #ccfdcc
  );
}

.footerLayout {
  position: relative;
  top: 24px;
  height: 45px;
  font-size: 18px;
  font-weight: 300;
  color: black;
}

.footerMenuLink {
  text-decoration: none;
  color: black;
  border-bottom: 0px;
}
